<div id="register">
  <hr />
  <div class="container p-3">
    <div id="register-row" class="row justify-content-center align-items-center">
      <div id="register-column" class="col-md-6">
        <div id="register-box" fxLayout="column" fxLayoutAlign="center center" class="col-md-12">
          <form [formGroup]="registerForm" fxLayout="column" id="register-form" class="form" (submit)="onSubmit()"
            method="post">
            <h1 class="text-center text-info">Регистрация</h1>
            <mat-form-field>
              <mat-icon matSuffix>account_circle</mat-icon>
              <input type="text" formControlName="username" id="username" class="form-control" matInput
                placeholder="Потребителско име">
              <mat-hint>Въведете потребителско име.</mat-hint>
              <mat-error>Въведете валидно потребитеско име.</mat-error>
            </mat-form-field>
            <!-- <div class="alert alert-danger" *ngIf="f.username.errors?.required && f.username.touched">
              Това поле е задължително!
            </div> -->
            <!-- <div class="alert alert-danger"
              *ngIf="f.username.errors?.pattern || f.username.errors?.minLength || f.username.errors?.maxLength">
              Това поле е задължително!
            </div> -->
            <mat-form-field>
              <mat-icon matSuffix>email</mat-icon>
              <input type="text" formControlName="email" id="email" class="form-control" matInput placeholder="Email">
              <mat-hint>Въведете имейл адреса си.</mat-hint>
              <mat-error></mat-error>
            </mat-form-field>
            <!-- <div class="alert alert-danger" *ngIf="f.email.errors?.required && f.email.touched">
              Това поле е задължително!
            </div> -->
            <mat-form-field>
              <mat-icon matSuffix>security</mat-icon>
              <input type="password" formControlName="password" id="password" class="form-control" matInput
                placeholder="Парола">
              <mat-hint>Въведете парола.</mat-hint>
              <mat-error></mat-error>
            </mat-form-field>
            <!-- <div class="alert alert-danger" *ngIf="f.password.errors?.required && f.password.touched">
              Това поле е задължително!
            </div> -->
            <mat-form-field>
              <mat-icon matSuffix>check_circle_outline
              </mat-icon>
              <input type="password" formControlName="repeatPassword" id="repeatPassword" class="form-control" matInput
                placeholder="Потвърдете паролата">
              <mat-hint>Потвърдете паролата.</mat-hint>
              <mat-error></mat-error>
            </mat-form-field>
            <div class="form-group p-2">
              <button mat-raised-button [disabled]=registerForm.invalid>Регистрирай се</button>
            </div>
            <div id="login-link" class="text-right">
              <a routerLink="/login" class="text-info">Впиши се тук</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
