<div style="margin-top:70px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lg-text">Our Rules</h1>
          <p>In order everyone to spend nice time in our rooms, please, respect our rules.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container paddingTB60">
    <div class="row">
      <div class="col-lg-8">
        <hr>
        <h2>Good codebase and in-built powerful standards</h2>
        <hr>
        <ol>
          <li>
            Please be kind, supportive and respectful to every participant of the chat at all times.
          </li>
          <li>Please do not use language that is graphic, inappropriate, flirtatious or sexually suggestive. Additionally, refrain from sharing links of this nature. </li>
          <li> Please refrain from sharing personal contact details or social media. </li>
          <li>For moderation purposes, please only use English in this space.</li>
          <li>If you find that another participant is not following one of these rules, please contact us rather than engaging in conflict of any sort. </li>
          <li>Please do not share names of drugs or medication with others. </li>
          <li>Please ensure you do not have an username that is abusive or inappropriate.</li>
          <li>To ensure a positive environment in group support, all users must be sober to participate.</li>
          <li>Sending SPAM messages or attempting to clog the room by over-posting is not allowed.</li>
        </ol>
          <hr>
      </div>
      </div>
    </div>  