<form (ngSubmit)="postQuestion()" [formGroup]="questionForm" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-label>Попитай</mat-label>
    <textarea formControlName="text" matInput placeholder="Напиши своя въпрос" rows="5">
        </textarea>
    <mat-icon matSuffix>question_answer</mat-icon>
    <mat-error *ngIf="questionForm.get('text').hasError('required')">Моля, задайте въпрос.</mat-error>
    <mat-error *ngIf="questionForm.get('text').hasError('minlength')">Въпросът трябва да бъде поне 10 символа.
    </mat-error>
    <mat-error *ngIf="questionForm.get('text').hasError('maxlength')">Въпросът не трябва да бъде повече от 150 символа.
    </mat-error>
  </mat-form-field>
  <button [disabled]="questionForm.invalid" type="submit" mat-fab color="primary">Изпрати</button>
</form>
