<div class="jumbotron">
    <h1 class="display-3">Hello, stranger!</h1>
    <h3 class="display-5">Welcome to our ChatRoom!</h3>
    <hr class="my-4">
  
    <p class="lead">This is the best place where you can meet new people!</p>
    <p class="lead">Here you can exchange new ideas!</p>
    <p class="lead"> You can help each other grow!</p>
  
    <hr class="my-4">
    <p>For start chatting you need to be signed in:</p>
    <a routerLink ="/login">Login</a> or <a routerLink ="/register">register</a> if you don't have an account.
  
    <div>
      Before entering the ChatRoom, please read <a routerLink ="/rules">Our Rules</a> and don't brake them so everyone have a great time here.
    </div>
  </div>