<div id="createRoom">
  <hr />
  <div class="container p-3">
    <div id="create-row" class="row justify-content-center align-items-center">
      <div id="create-column" class="col-md-6">
        <div id="create-box" class="col-md-12">
          <form (ngSubmit)="createRoom()" [formGroup]="createForm" fxLayout="column" id="create-form" class="form">
            <h3 class="text-center text-info">Добави нова стая</h3>
            <hr />
            <mat-form-field>
              <mat-icon matSuffix>label</mat-icon>
              <input type="text" formControlName="name" id="name" class="form-control" matInput placeholder="Име">
              <mat-hint>Въведете име на стаята.</mat-hint>
              <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-icon matSuffix>description</mat-icon>
              <input type="text" formControlName="description" id="description" class="form-control" matInput
                placeholder="Описание">
              <mat-hint>Въведете описание на стаята.</mat-hint>
              <mat-error></mat-error>
            </mat-form-field>

            <div class="form-group">
              <button [disabled]="createForm.invalid" mat-raised-button type="submit" color="primary">Създай
                стая</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
