<div id="register">
  <hr />
  <div class="container">
    <div id="register-row" class="row justify-content-center align-items-center">
      <div id="register-column" class="col-md-6">
        <div id="register-box" class="col-md-12">
          <form [formGroup]="form" id="register-form" class="form" (submit)="register()" method="post">
            <h3 class="text-center text-info">Регистрация</h3>
            <div class="form-group">
              <label for="username" class="text-info">Потребителско име:</label><br>
              <input type="text" formControlName="username" name="username" id="username" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="f.username.errors?.required && f.username.touched">
              Това поле е задължително!
            </div>
            <div class="alert alert-danger"
              *ngIf="f.username.errors?.pattern || f.username.errors?.minLength || f.username.errors?.maxLength">
              Това поле е задължително!
            </div>
            <div class="form-group">
              <label for="email" class="text-info">Имейл:</label><br>
              <input type="text" formControlName="email" name="email" id="email" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="f.email.errors?.required && f.email.touched">
              Това поле е задължително!
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Парола:</label><br>
              <input type="password" formControlName="password" name="password" id="password" class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="f.password.errors?.required && f.password.touched">
              Това поле е задължително!
            </div>
            <div class="form-group">
              <label for="repeatPassword" class="text-info">Потвърди паролата:</label><br>
              <input type="password" formControlName="repeatPassword" name="repeatPassword" id="repeatPassword"
                class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Изпрати">
            </div>
            <div id="login-link" class="text-right">
              <a routerLink="/login" class="text-info">Впиши се тук</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
