<div class="container text-center p-4">
  <hr />
  <h2 class="text-center p-4">Моите стаи</h2>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Име на стаята</h5>
          <p class="card-text">Описание на темата</p>
          <div class="d-flex justify-content-between">
            <a href="/rooms/:id" class="btn btn-primary ">Влез</a>
            <a href="/rooms/delete/:id" class="btn btn-secondary">Изтрий</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
