<div class="container text-center p-4">
  <hr />
  <h1 class="text-center p-4">Моите стаи</h1>
  <hr />
  <div class="row" *ngIf="rooms.length > 0">
    <div class="col-sm-4 p-2" *ngFor="let room of rooms">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{room.name}}</h2>
          <p class="card-text">{{room.description}}</p>
          <div class="d-flex justify-content-between">
            <a [routerLink]="['/rooms', room.name]" class="btn btn-success">Влез</a>
            <a routerLink="/rooms/delete/:name" class="btn btn-secondary">Изтрий</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="rooms.length == 0">
    <p>Все още нямате добавени стаи.
      Проверете дали това, което търсите, вече не е създадено в
      <button mat-stroked-button color="primary" routerLink="/rooms">Стаи</button>
    </p>
    <p>Ако искате да създадете стая, влезте в
      <button mat-stroked-button color="primary" routerLink="/createroom">Създаване на стая</button>
    </p>
  </div>
</div>
